.color-container {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 4px;
}

.padding-x-45 {
  padding: 0 45px 0 45px;
}

.lock-icon-position {
  right: 22px;
  bottom: 28px;
}

.lock-icon-cvv-position {
  right: 6px;
  bottom: 28px;
}
