.quantityInput {
  border: 0;
  font-size: 13px;
  height: auto;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 2.1875rem;
}
.productName {
  font-size: 25px;
}
.formWrapper {
  height: 36px;
  padding: 0 8px;
}
