.background-img {
  height: 100vh;
  background-image: url(./assets/background.jpeg);
  background-size: cover;
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1;
}

// a {
//   text-decoration: none;
// }

// a,
// a:hover {
//   -webkit-transition: all 0.4s ease-in-out;
//   -moz-transition: all 0.4s ease-in-out;
//   transition: all 0.4s ease-in-out;
// }

.container-pad {
  padding: 110px 15px 0;
}
