.background-img {
  background-image: url(./assets/background.jpeg);
  background-size: cover;
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
}

.container-pad-top {
  padding-top: 153px !important;
}
.pb-c-60 {
  padding-bottom: 60px;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1;
}

.font-15 {
  font-size: 12px;
}

.fromButton {
  font-size: 1rem;
  font-weight: 400;
}

// a {
//   text-decoration: none;
// }

// a,
// a:hover {
//   -webkit-transition: all 0.4s ease-in-out;
//   -moz-transition: all 0.4s ease-in-out;
//   transition: all 0.4s ease-in-out;
// }
