.background-img {
  background-image: url(./assets/background.jpeg);
  background-size: cover;
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
}

.container-pad-top {
  padding-top: 153px !important;
}
.pb-c-60 {
  padding-bottom: 60px;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-15 {
  font-size: 15px;
}

.font-17 {
  font-size: 17px;
}

.font-19 {
  font-size: 19px;
}

.font-25 {
  font-size: 25px;
}

.font-30 {
  font-size: 30px;
}

.font-w700 {
  font-weight: 700;
}

.fromButton {
  font-size: 1rem;
  font-weight: 400;
}
